* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  background-color: darkorange;
}
.main {
  font-size: 11px;
  width: 90%;
  margin: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

}

.box {
  width: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;

  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;

}
.step{
  z-index: 2;
  margin: -5px -5px -10px -5px;
  box-sizing: border-box;

  text-align: center;
  display: inline-block;
  color: white;
  background-color: darkorange;
}

.image1{
  z-index: 1;
  width: 100%;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
}
.image2{
  z-index: 1;
  width: 100%;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
}

.image3{
  z-index: 1;
  width: 100%;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
}
.title{
  font-size: 16px;
}
.houbun{

}
.footer{
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background-color: #d3d3d3;
}

@media screen and (max-width: 425px) {
  .header {
  width: 100%;
  height: 50px;
}
.main {
  font-size: 11px;
  width: 90%;
  margin: 40px;
  margin-right: auto;
  margin-left: auto;
}

.box {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}
.step{
  z-index: 2;
  margin: -5px -5px -10px -5px;
  box-sizing: border-box;

  text-align: center;
  display: inline-block;
 }

.image1{
  z-index: 1;
  width: 100%;
  height: 150px;

}
.image2{
  z-index: 1;
  width: 100%;
  height: 150px;

}

.image3{
  z-index: 1;
  width: 100%;
  height: 150px;

}

.houbun{

}
.footer{
  width: 100%;
  height: 50px;
}
}